/***********/
/* Styles */
/*********/

$widthGame: 820px; /* permet de faire varier la taille de l'ère de jeu si besoin*/

body {
  /* global */
  font-family: "Open Sans", sans-serif;

  /* conteneur de la zone de jeu*/
  .container {
    width: $widthGame;
    text-align: center;
    margin: 0 auto;
  }

  /* 
    Cette boucle permet de découper les sprites.
    Il y a 18 fruits mais on commence à 0 car le premier sprite est la hauteur 0 de l'image
    ligne 21 : -100px * $i permet de décaler la hauteur du sprite à chaque tour de boucle
    plus d'infos : https://la-cascade.io/tout-sur-les-sprites-css/
  */
  @for $i from 0 through 17 {
    .fruit-#{$i} {
      width: 100px;
      height: 100px;
      background: url("/cards.png") 0 -100px * $i no-repeat;
      display: inline-block; /*permet simplement d'aligner les blocs les uns à coté des autres*/
      border: solid 3px rgb(231, 163, 163);
      margin-bottom: -4px; /*permet de réduire l'espace entre les lignes crées par le retour à la ligne*/
    }
  }

  /*cette classe de cacher la carte tant que l'utilisateur n'a pas cliqué dessus*/
  .hidden {
    background: rgb(59, 57, 57);
  }

  /* la barre de progression est simplement representé par 2 div superposés dont une va se remplir progressivement */
  #progressBar {
    width: $widthGame;
    margin: 20px auto;
    height: 30px;
    border: solid 1px grey;

    #progressIndicator {
      height: 100%;
      width: 0px; /*initialisation à 0 et on agrandira progressivement via l'attribut style de l'élément*/
      background: red;
    }
  }

  /* styles divers */
  h1 {
    padding: 30px;
    text-align: center;
    background: grey;
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }

  ul {
    text-align: center;
    padding: 15px;
    font-size: 20px;
  }

  button {
    font-size: 20px;
    padding: 20px 30px;
  }
}
